@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --app-font: 'JetBrains Mono', monospace;
    --display-font: 'Righteous', sans-serif;
    --red: #ff2e17;
    --pink: #ffb9b9;
    --white: #ffffff;
    --black: #000000;
    --primary: var(--red);
    --secondary: var(--pink);
    --black-player: var(--red);
    --white-player: var(--pink);

    /* RED */
    --box-shadow-color: 255, 0, 0, 0.4;
    --red-shadow: 255, 0, 0, 0.2;

    --player-size: 15px;
    --board-border-thickness: 1px;
    --player-border-thickness: 4px;
    --app-border-radius: 50px;
    --app-border: 1px solid var(--primary);
}

body {
    --player-tile-size: var(--player-size);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (min-width: 400px) {
    body {
        --player-tile-size: 20px;
    }
}

@media (min-width: 500px) {
    body {
        --player-tile-size: 30px;
    }
}

@media (min-width: 1000px) {
    body {
        --player-tile-size: 40px;
    }
}

/* @media (min-width: 1400px) {
    body{
        --player-tile-size: 60px
    }
} */

.app-display-title {
    margin: 0 auto;

    font-family: var(--display-font);
    color: var(--primary);
    font-size: 10rem;
    word-wrap: break-word;
}

@media (min-width: 588px) {
    .app-display-title {
        text-align: center;
    }
}

@media (min-width: 940px) {
    .app-display-title {
        font-size: 15rem;
    }
}

@media (min-width: 1200px) {
    .app-display-title {
        font-size: 20rem;
    }
}

@media (min-width: 1600px) {
    .app-display-title {
        font-size: 25rem;
    }
}

.pop-up-message,
.pop-up-title {
    text-align: center;
    font-family: var(--app-font);
    color: var(--primary);
    padding: 1rem;
    margin-top: 1rem;
}

.pop-up-title {
    font-size: 3rem;
}

.pop-up-message {
    font-size: 2rem;
}

.start-a-new-game {
    min-height: 100vh;
    background-color: var(--white);
    background-size: 100px 100px;
    background-image: linear-gradient(to right, var(--primary), transparent 2px),
        linear-gradient(to bottom, var(--primary) 2px, transparent 2px);
}

/* .square{
    background-color: var(--pink);
    height: var(--player-tile-size);
    width: var(--player-tile-size);
    background-position:top left;
    background-size: 20px 20px;
    background-image:
      linear-gradient(to right, var(--red) 1px, transparent 1px),
      linear-gradient(to bottom, var(--red) 1px, transparent 1px);
} */

.square-wrapper {
}

.small-square {
    height: calc(var(--player-tile-size) / 2);
}

.square-1 {
    border-right: var(--board-border-thickness) solid var(--primary);
    border-bottom: var(--board-border-thickness) solid var(--primary);
}

.square-2 {
    border-left: var(--board-border-thickness) solid var(--primary);
    border-bottom: var(--board-border-thickness) solid var(--primary);
}

.square-3 {
    border-right: var(--board-border-thickness) solid var(--primary);
    border-top: var(--board-border-thickness) solid var(--primary);
}

.square-4 {
    border-left: var(--board-border-thickness) solid var(--primary);
    border-top: var(--board-border-thickness) solid var(--primary);
}

.player {
    /* border: var(--player-border-thickness) solid var(--primary); */
    border-radius: 100%;
    position: absolute;
    z-index: 9;

    height: var(--player-tile-size);
    width: var(--player-tile-size);
    background-image: url('./assets/img/shine-effect-2.png');
    background-position: top left;
    background-size: cover;
    box-shadow: -5px 5px 5px 0px rgba(var(--box-shadow-color));
    -webkit-box-shadow: -5px 5px 5px 0px rgba(var(--box-shadow-color));
    -moz-box-shadow: -5px 5px 5px 0px rgba(var(--box-shadow-color));
}

.player:hover {
}

.no-player{
    border-radius: 100%;
    position: absolute;
    z-index: 9;

    height: var(--player-tile-size);
    width: var(--player-tile-size);
    background-image: url('./assets/img/shine-effect-2.png');
    background-position: top left;
    background-size: cover;
    box-shadow: -5px 5px 5px 0px rgba(var(--box-shadow-color));
    -webkit-box-shadow: -5px 5px 5px 0px rgba(var(--box-shadow-color));
    -moz-box-shadow: -5px 5px 5px 0px rgba(var(--box-shadow-color));
    opacity: 0;
    transition: opacity ease-in-out 200ms;
}

.no-player:hover{
    opacity: 1;
}

.game-player,
.non-active-game-player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    border-radius: 100%;
    z-index: 999;
    height: calc(var(--player-tile-size) * 2);
    width: calc(var(--player-tile-size) * 2);
    /* border: calc(var(--player-border-thickness) * 2) solid var(--primary); */
    background-image: url('./assets/img/shine-effect-2.png');
    background-position: top left;
    background-size: cover;
    transition: box-shadow ease-out 100ms;
}

/* .non-active-game-player h1{
    color: black;
} */

.game-player {
    box-shadow: 0px 0px 65px 15px rgba(var(--box-shadow-color));
    -webkit-box-shadow: 0px 0px 65px 15px rgba(var(--box-shadow-color));
    -moz-box-shadow: 0px 0px 65px 15px rgba(var(--box-shadow-color));
}

.player-turns-wrapper {
    max-width: 240px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

@media (min-width: 400px) {
    .player-turns-wrapper {
        max-width: 320px;
    }
}

@media (min-width: 500px) {
    .player-turns-wrapper {
        max-width: 480px;
    }
}

@media (min-width: 1000px) {
    .player-turns-wrapper {
        max-width: 650px;
    }
}

.number-of-wins {
    font-family: var(--app-font);
    font-weight: 900;
    color: var(--white);
    font-size: 2rem;
}

.red {
    color: var(--primary);
}

.black,
.non-active-black {
    background-color: var(--black-player);
}
.non-active-black {
    opacity: 0.1;
    transition: opacity 200ms ease-in-out;
}

.white,
.non-active-white {
    background-color: var(--white-player);
}
.non-active-white {
    opacity: 0.3;
}

.tile {
    position: relative;

    width: var(--player-tile-size);
    height: var(--player-tile-size);
}

/* .tile:hover{
    background-color: #000000;
} */

.square-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

.game-background {
    min-height: 100vh;
    background-color: #000000;
}

.game-wrapper {
    /* tennis */
    /* gap: 3rem;
    display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 15vh;
}

.gomoku-game-area {
    background-color: var(--white);
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gomoku-board {
    /* border: 3px solid black; */
}

.gomoku-row {
    width: 100%;
    display: flex;
}

.loading {
    font-family: var(--app-font);
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
}

/*----------IGGES*---------*/
.game-result {
    font-family: var(--app-font);
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.prompt-btn {
    border: #ff2e17;
    border: solid;
    border-radius: 15%;
    padding: 0px 20px;
    margin-top: 15px;
}

.prompt-btn:hover {
    background-color: #ff2e17;
    color: #ffffff;
    transition-duration: 0.2s;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.app-button {
    cursor: pointer;
    font-family: var(--app-font);
    color: var(--primary);
    font-weight: bolder;
    border: 5px solid var(--primary);
    border-radius: 100px;
    padding: 1rem 0;
    transition: all ease-in-out 200ms;
    background-color: var(--secondary);
}

.app-button:hover {
    transform: translateY(10px);
    /* background-color: rgba(var(--red-shadow)); */
    box-shadow: 0px -10px 0px 1px var(--primary);
    -webkit-box-shadow: 0px -10px 0px 1px var(--primary);
    -moz-box-shadow: 0px -10px 0px 1px var(--primary);
}

.app-button:focus {
    transform: translateY(0px);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
}

/* PoppUp */
.pop-up-wrapper {
    width: 100%;
    max-width: 400px;
    border-radius: var(--app-border-radius);
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary);
    /* border: var(--app-border); */
    padding: 1rem 2rem 5rem 2rem;
    display: grid;

    box-shadow: 0px 0px 82px -15px rgba(var(--box-shadow-color));
    -webkit-box-shadow: 0px 0px 82px -15px rgba(var(--box-shadow-color));
    -moz-box-shadow: 0px 0px 82px -15px rgba(var(--box-shadow-color));
}
