@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --app-font: 'JetBrains Mono', monospace;
    --display-font: 'Righteous', sans-serif;
    --red: #ff2e17;
    --pink: #ffb9b9;
    --white: #ffffff;
    --black: #000000;
    --primary: var(--red);
    --secondary: var(--pink);
    --black-player: var(--red);
    --white-player: var(--pink);


    /* RED */
    --box-shadow-color: 255, 0, 0, 0.4;
    --red-shadow: 255, 0, 0, 0.2;

    --player-tile-size: 50px;
    --board-border-thickness: 1px;
    --player-border-thickness: 4px;
    --app-border-radius: 50px;
    --app-border: 8px solid var(--primary);

}

body {
    margin: 0;
    padding: 0;
}

.app-display-title {
    text-align: center;
    font-family: var(--display-font);
    color: var(--red);
    font-size: 5rem;
}


.pop-up-title{
    font-weight: bold;
    text-align: center;
    font-family: var(--app-font);
    color: var(--red);
    font-size: 3rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* .square{
    background-color: var(--pink);
    height: var(--player-tile-size);
    width: var(--player-tile-size);
    background-position:top left;
    background-size: 20px 20px;
    background-image:
      linear-gradient(to right, var(--red) 1px, transparent 1px),
      linear-gradient(to bottom, var(--red) 1px, transparent 1px);
} */


.empty-row{
    background-color: aquamarine;
}

.test-square{
    background-color: #ff2e17;
    height: 20px;
}

.half-square-1{
    width: calc(var(--player-tile-size) / 4);
    height: calc(var(--player-tile-size) / 2);
}

.half-square-2{
    width: calc(var(--player-tile-size) / 2);
    height: calc(var(--player-tile-size) / 4);
}

.small-square {
    height: calc(var(--player-tile-size) / 2);

}

.square-1 {
    border-right: var(--board-border-thickness) solid var(--primary);
    border-bottom: var(--board-border-thickness) solid var(--primary);
}

.square-2 {
    border-left: var(--board-border-thickness) solid var(--primary);
    border-bottom: var(--board-border-thickness) solid var(--primary);
}

.square-3 {
    border-right: var(--board-border-thickness) solid var(--primary);
    border-top: var(--board-border-thickness) solid var(--primary);
}

.square-4 {
    border-left: var(--board-border-thickness) solid var(--primary);
    border-top: var(--board-border-thickness) solid var(--primary);
}

.player {
    /* border: var(--player-border-thickness) solid var(--primary); */
    border-radius: 100%;
    position: absolute;
    z-index: 999;

    height: var(--player-tile-size);
    width: var(--player-tile-size);
    background-image: url('./assets/img/shine-effect-2.png');
    background-position: top left;
    background-size: cover;
    box-shadow: -5px 5px 5px 0px rgba(var(--box-shadow-color));
    -webkit-box-shadow: -5px 5px 5px 0px rgba(var(--box-shadow-color));
    -moz-box-shadow: -5px 5px 5px 0px rgba(var(--box-shadow-color));
}
.game-player,
.non-active-game-player{
    border-radius: 100%;
    z-index: 999;
    height: calc(var(--player-tile-size) * 2);
    width: calc(var(--player-tile-size) * 2);
    /* border: calc(var(--player-border-thickness) * 2) solid var(--primary); */
    background-image: url('./assets/img/shine-effect-2.png');
    background-position: top left;
    background-size: cover;
}

.game-player {
    box-shadow: 0px 0px 65px 15px rgba(var(--box-shadow-color));
    -webkit-box-shadow: 0px 0px 65px 15px rgba(var(--box-shadow-color));
    -moz-box-shadow: 0px 0px 65px 15px rgba(var(--box-shadow-color));
}

.player-turns-wrapper{
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
}

.black,
.non-active-black {
    background-color: var(--black-player);
}
.non-active-black {
    opacity: .1;
}

.white,
.non-active-white {
    background-color: var(--white-player);
}
.non-active-white {
    opacity: .3;
}

.tile {
    position: relative;

    width: var(--player-tile-size);
    height: var(--player-tile-size);

}

.square-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

.gomoku-game-area {
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.gomoku-board {
    /* cursor: url('./assets/img/player-hand.png'), auto; */
    display: flex;
    flex-direction: column;
    /* background-color: var(--secondary); */
}

.gomoku-row {
    width: 100%;

    display: flex;
}

.loading {
    font-family: var(--app-font);
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
}

/*----------IGGES*---------*/
.game-result {
    font-family: var(--app-font);
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.prompt-btn {
    border: #ff2e17;
    border: solid;
    border-radius: 15%;
    padding: 0px 20px;
    margin-top: 15px;
}

.prompt-btn:hover {
    background-color: #ff2e17;
    color: #ffffff;
    transition-duration: 0.2s;
}

.app-button{
    cursor: pointer;
    font-family: var(--app-font);
    color: var(--primary);
    font-size: 2rem;
    font-weight: bolder;
    border: 10px solid var(--primary);
    border-radius: 100px;
    padding: 1rem 2rem;
    transition: all ease-in-out 200ms;
}

.app-button:hover{
    background-color: rgba(var(--red-shadow));
    box-shadow: 0px -10px 0px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -10px 0px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -10px 0px 1px rgba(0,0,0,0.75);
}


/* PoppUp */
.pop-up-wrapper{
    border-radius: var(--app-border-radius);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary);
    border: var(--app-border);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
